<!--<footer class="page-footer font-small">-->
<!--    <div class="footer-copyright text-center py-3">© 2021-->
<!--        <a href="https://gmzone.eu" target="_blank">GM_ZonE</a>-->
<!--    </div>-->
<!--</footer>-->
Copyright &copy; <a href="https://gmzone.eu" target="_blank">Created by GM_ZonE</a>
{{#if isLogged}}
<!--<nav class="footer__menu">-->
<!--    <a href="#">Home</a>-->
<!--    <a href="#">Dashboard</a>-->
<!--    <a href="#">Reports</a>-->
<!--    <a href="#">Support</a>-->
<!--    <a href="#">Contact</a>-->
<!--</nav>-->
{{/if}}
