<div class="header__main">
    <i class="navigation-toggle zwicon-hamburger-menu d-xl-none"></i>

    <div class="logo d-none d-md-block">
        <a href="/">
            <img src="img/logo/Mox_Logo_White.png" alt="logo mox" width="100px">
        </a>
    </div>
{{#if isLogged}}
    <form class="search" method="get" action="/search/result">
        <input type="search" class="search__input" placeholder="Търсене за карти и картодържатели" name="q" aria-label="Search">
        <i class="zwicon-search search__helper"></i>
        <i class="zwicon-arrow-left search__reset"></i>
    </form>

    <div class="user dropdown">
        <a data-toggle="dropdown" class="d-block" href="#">
            <img class="user__img" src="https://robohash.org/{{username}}" alt="robohash user image">
        </a>

        <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header">Здравей {{username}}!</div>
            <a class="dropdown-item" href="profile-about.html"><i class="zmdi zmdi-account"></i> View Profile</a>
            <a class="dropdown-item" href="#"><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
            <a class="dropdown-item" href="#"><i class="zmdi zmdi-settings"></i> Settings</a>
            <a class="dropdown-item" href="/logout"><i class="zmdi zmdi-time-restore"></i>Изход</a>
        </div>
    </div>
</div>
{{else}}
    <a class="link-info" href="/login"><i class="zmdi zmdi-settings"></i> Вход</a>
{{/if}}
