<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Card Holders</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {{#if isLogged}}
            <form class="d-flex" method="get" action="/search/result">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
            </form>
        {{/if}}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{#if isLogged}}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Здравей, {{username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Изход</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Добави работник</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/member/create">Добави потребител</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/member/all">Всички потребители</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/card/allc">Всички карти</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Вход</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
