.card {
    /*min-width: 18rem;*/
    /*max-width: 18rem;*/
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.btn-group {
    margin-right: 20px;
}

.badge {
    margin-left: 10px;
}

.enrolled-span {
    text-decoration: underline;
    background-color: green;
    color: white;
    padding: 2%;
    border-radius: 4px;
}
.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text{
    min-width: 100px;
}
.notifications {
    background-color: rgb(234, 21, 55);
    margin: 0 auto;
    text-align: center;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 0;
    border-radius: 6px;
    color: white;
    font-style: italic;
    text-decoration: underline;
    box-shadow: 0 5px 10px #cccccc;
    width: 50%;

}

a {
    color: white!important;
}

footer a {
    color: blue!important;
}
.logo{
    width: 150px;
}
