<header class="content__title">
    <h1>Начало<small></small></h1>
</header>

<!--<div class="row">-->
<!--    <div class="col-md-6">-->
<!--        <div class="card">-->
<!--            <div class="card-body">-->
<!--                <h4 class="card-title">Server Process</h4>-->
<!--                <h6 class="card-subtitle">Maecenas faucibus mollis interdum porttitor</h6>-->

<!--                <div class="flot-chart flot-dynamic"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-md-6">-->
<!--        <div class="card">-->
<!--            <div class="card-body">-->
<!--                <h4 class="card-title">Sales Statistics</h4>-->
<!--                <h6 class="card-subtitle">Vestibulum purus quam scelerisque, mollis nonummy metus</h6>-->

<!--                <div class="flot-chart flot-curved-line"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--    <div class="col-md-4">-->
<!--        <div class="card stats">-->
<!--            <div class="card-body">-->
<!--                <h4 class="card-title">Website Views</h4>-->
<!--                <h6 class="card-subtitle">Venenatis portauam Inceptos ameteiam</h6>-->

<!--                <div class="stats__info text-blue">52.78M+</div>-->
<!--            </div>-->
<!--            <div class="stats__2 stats__chart"></div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-md-4">-->
<!--        <div class="card stats">-->
<!--            <div class="card-body">-->
<!--                <h4 class="card-title">Website Impressions</h4>-->
<!--                <h6 class="card-subtitle">Consectetur Ultricies Porta Fringilla</h6>-->

<!--                <div class="stats__info text-amber">9831+</div>-->
<!--            </div>-->
<!--            <div class="stats__1 stats__chart"></div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="col-md-4">-->
<!--        <div class="card stats">-->
<!--            <div class="card-body">-->
<!--                <h4 class="card-title">Total Sales</h4>-->
<!--                <h6 class="card-subtitle">Purus Malesuada Consectetur</h6>-->

<!--                <div class="stats__info text-purple">$458,778+</div>-->
<!--            </div>-->
<!--            <div class="stats__3 stats__chart"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="card-columns widget-lists">-->
<!--    <div class="card signups">-->
<!--        <div class="card-body">-->
<!--            <h4 class="card-title">Most Recent Signups</h4>-->
<!--            <h6 class="card-subtitle">Magna cursus malesuada lacinia</h6>-->

<!--            <div class="signups__list">-->
<!--                <a data-toggle="tooltip" title="Jani Popovich" href="#"><img class="avatar-img"-->
<!--                                                                             src="demo/img/profile-pics/1.jpg"-->
<!--                                                                             alt=""></a>-->
<!--                <a data-toggle="tooltip" title="Rosina Lamont" href="#">-->
<!--                    <div class="avatar-char">R</div>-->
<!--                </a>-->
<!--                <a data-toggle="tooltip" title="Wava Vermeulen" href="#">-->
<!--                    <div class="avatar-char">W</div>-->
<!--                </a>-->
<!--                <a data-toggle="tooltip" title="Delisa Sheilds" href="#"><img class="avatar-img"-->
<!--                                                                              src="demo/img/profile-pics/2.jpg" alt=""></a>-->
<!--                <a data-toggle="tooltip" title="Elsy Wilhoit" href="#"><img class="avatar-img"-->
<!--                                                                            src="demo/img/profile-pics/3.jpg"-->
<!--                                                                            alt=""></a>-->
<!--                <a data-toggle="tooltip" title="Deanne Jeffreys" href="#">-->
<!--                    <div class="avatar-char">D</div>-->
<!--                </a>-->
<!--                <a data-toggle="tooltip" title="ddsds" href="#">-->
<!--                    <div class="avatar-char">F</div>-->
<!--                </a>-->
<!--                <a data-toggle="tooltip" title="Shery Heredia" href="#">-->
<!--                    <div class="avatar-char">S</div>-->
<!--                </a>-->
<!--                <a data-toggle="tooltip" title="Gaylord Coolbaugh" href="#">-->
<!--                    <div class="avatar-char">G</div>-->
<!--                </a>-->
<!--                <a data-toggle="tooltip" title="Lyda Wortman" href="#">-->
<!--                    <div class="avatar-char">L</div>-->
<!--                </a>-->
<!--                <a data-toggle="tooltip" title="Corene Langstaff" href="#"><img class="avatar-img"-->
<!--                                                                                src="demo/img/profile-pics/4.jpg"-->
<!--                                                                                alt=""></a>-->
<!--                <a data-toggle="tooltip" title="Aracely Goudeau" href="#"><img class="avatar-img"-->
<!--                                                                               src="demo/img/profile-pics/5.jpg" alt=""></a>-->
<!--                <a data-toggle="tooltip" title="Matilde Weibel" href="#">-->
<!--                    <div class="avatar-char">M</div>-->
<!--                </a>-->
<!--                <a data-toggle="tooltip" title="Clement Mayor" href="#">-->
<!--                    <div class="avatar-char">C</div>-->
<!--                </a>-->
<!--                <a data-toggle="tooltip" title="Phil Wyatt" href="#">-->
<!--                    <div class="avatar-char">P</div>-->
<!--                </a>-->
<!--                <a data-toggle="tooltip" title="Altagracia Manke" href="#">-->
<!--                    <div class="avatar-char">A</div>-->
<!--                </a>-->
<!--                <a data-toggle="tooltip" title="Siu Derosier" href="#">-->
<!--                    <div class="avatar-char">S</div>-->
<!--                </a>-->
<!--                <a data-toggle="tooltip" title="Nigel Shipe" href="#"><img class="avatar-img"-->
<!--                                                                           src="demo/img/profile-pics/6.jpg" alt=""></a>-->
<!--                <a data-toggle="tooltip" title="Bossman" href="#">-->
<!--                    <div class="avatar-char">B</div>-->
<!--                </a>-->
<!--                <a data-toggle="tooltip" title="Crystal Markel" href="#">-->
<!--                    <div class="avatar-char">C</div>-->
<!--                </a>-->
<!--                <a data-toggle="tooltip" title="Noman Nottage" href="#">-->
<!--                    <div class="avatar-char">N</div>-->
<!--                </a>-->
<!--                <a data-toggle="tooltip" title="Melonie Carreira" href="#"><img class="avatar-img"-->
<!--                                                                                src="demo/img/profile-pics/7.jpg"-->
<!--                                                                                alt=""></a>-->
<!--                <a data-toggle="tooltip" title="Shaneka Hoyle" href="#">-->
<!--                    <div class="avatar-char">S</div>-->
<!--                </a>-->
<!--                <a data-toggle="tooltip" title="Milagro Evans" href="#">-->
<!--                    <div class="avatar-char">M</div>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card">-->
<!--        <div class="card-body">-->
<!--            <h4 class="card-title">Tickets</h4>-->
<!--            <h6 class="card-subtitle">Nullam dolorenibh ultricies vehicula</h6>-->
<!--        </div>-->

<!--        <div class="listview listview--hover listview--truncate listview--plain tickets">-->
<!--            <a class="listview__item" href="#">-->
<!--                <div class="tickets__label">#114</div>-->
<!--                <div class="tickets__label tickets__label--severity bg-red">Severe</div>-->

<!--                <div class="listview__content">-->
<!--                    <h4>Lorem ipsum dolor sit amet imperdiet dictum</h4>-->
<!--                </div>-->
<!--            </a>-->

<!--            <a class="listview__item" href="#">-->
<!--                <div class="tickets__label">#12</div>-->
<!--                <div class="tickets__label tickets__label--severity bg-blue">High</div>-->

<!--                <div class="listview__content">-->
<!--                    <h4>Donec lacus ipsum laoreet non eleifend ulvinar aeo</h4>-->
<!--                </div>-->
<!--            </a>-->

<!--            <a class="listview__item" href="#">-->
<!--                <div class="tickets__label">#99</div>-->
<!--                <div class="tickets__label tickets__label--severity bg-green">Normal</div>-->

<!--                <div class="listview__content">-->
<!--                    <h4>Phasellus ultricies porta ipsum ut lacinia</h4>-->
<!--                </div>-->
<!--            </a>-->

<!--            <a class="listview__item" href="#">-->
<!--                <div class="tickets__label">#115</div>-->
<!--                <div class="tickets__label tickets__label--severity bg-amber">2.0</div>-->

<!--                <div class="listview__content">-->
<!--                    <h4>Phasellus a ullamcorper lectus sit amet viverra quam luctus tortor vel nulla pharetra-->
<!--                        bibendum</h4>-->
<!--                </div>-->
<!--            </a>-->

<!--            <a class="listview__item" href="#">-->
<!--                <div class="tickets__label">#115</div>-->
<!--                <div class="tickets__label tickets__label--severity bg-purple">Regression</div>-->

<!--                <div class="listview__content">-->
<!--                    <h4>Cras bibendum nibh vitae condimentum dignissim</h4>-->
<!--                </div>-->
<!--            </a>-->

<!--            <a href="#" class="view-more">View All Tickets</a>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card todo">-->
<!--        <div class="card-body">-->
<!--            <h4 class="card-title">Todo lists</h4>-->
<!--            <h6 class="card-subtitle">Venenatis portauam Inceptos ameteiam</h6>-->
<!--        </div>-->

<!--        <div class="listview listview--plain">-->
<!--            <div class="listview__item">-->
<!--                <div class="checkbox-char todo__item">-->
<!--                    <input type="checkbox" id="char-1">-->
<!--                    <label class="bg-red" for="char-1">F</label>-->

<!--                    <div class="listview__content">-->
<!--                        <h4>Fivamus sagittis lacus vel augue laoreet rutrum faucibus dolor</h4>-->
<!--                        <p>Today at 8.30 AM</p>-->

<!--                        <div class="listview__attrs">-->
<!--                            <span>#Messages</span>-->
<!--                            <span>!!!</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="actions">-->
<!--                    <div class="dropdown actions__item">-->
<!--                        <i class="zwicon-more-h" data-toggle="dropdown"></i>-->
<!--                        <div class="dropdown-menu dropdown-menu-right">-->
<!--                            <a class="dropdown-item" href="#">Mark as completed</a>-->
<!--                            <a class="dropdown-item" href="#">Delete</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="listview__item">-->
<!--                <div class="checkbox-char todo__item">-->
<!--                    <input type="checkbox" id="char-2">-->
<!--                    <label class="bg-blue" for="char-2">N</label>-->

<!--                    <div class="listview__content">-->
<!--                        <h4>Nullam id dolor id nibh ultricies vehicula ut id elit</h4>-->
<!--                        <p>Today at 12.30 PM</p>-->

<!--                        <div class="listview__attrs">-->
<!--                            <span>#Clients</span>-->
<!--                            <span>!!</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="actions">-->
<!--                    <div class="dropdown actions__item">-->
<!--                        <i class="zwicon-more-h" data-toggle="dropdown"></i>-->
<!--                        <div class="dropdown-menu dropdown-menu-right">-->
<!--                            <a class="dropdown-item" href="#">Mark as completed</a>-->
<!--                            <a class="dropdown-item" href="#">Delete</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="listview__item">-->
<!--                <div class="checkbox-char todo__item">-->
<!--                    <input type="checkbox" id="char-3">-->
<!--                    <label class="bg-orange" for="char-3">C</label>-->

<!--                    <div class="listview__content">-->
<!--                        <h4>Cras mattis consectetur purus sit amet fermentum</h4>-->
<!--                        <p>Tomorrow at 10.30 AM</p>-->

<!--                        <div class="listview__attrs">-->
<!--                            <span>#Clients</span>-->
<!--                            <span>!!</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="actions">-->
<!--                    <div class="dropdown actions__item">-->
<!--                        <i class="zwicon-more-h" data-toggle="dropdown"></i>-->
<!--                        <div class="dropdown-menu dropdown-menu-right">-->
<!--                            <a class="dropdown-item" href="#">Mark as completed</a>-->
<!--                            <a class="dropdown-item" href="#">Delete</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="listview__item">-->
<!--                <div class="checkbox-char todo__item">-->
<!--                    <input type="checkbox" id="char-4">-->
<!--                    <label class="bg-purple" for="char-4">I</label>-->

<!--                    <div class="listview__content">-->
<!--                        <h4>Integer posuere erat a ante venenatis dapibus posuere velit aliquet</h4>-->
<!--                        <p>05/08/2017 at 08.00 AM</p>-->

<!--                        <div class="listview__attrs">-->
<!--                            <span>#Server</span>-->
<!--                            <span>!</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="actions">-->
<!--                    <div class="dropdown actions__item">-->
<!--                        <i class="zwicon-more-h" data-toggle="dropdown"></i>-->
<!--                        <div class="dropdown-menu dropdown-menu-right">-->
<!--                            <a class="dropdown-item" href="#">Mark as completed</a>-->
<!--                            <a class="dropdown-item" href="#">Delete</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="listview__item">-->
<!--                <div class="checkbox-char todo__item">-->
<!--                    <input type="checkbox" id="char-5">-->
<!--                    <label class="bg-lime" for="char-5">P</label>-->

<!--                    <div class="listview__content">-->
<!--                        <h4>Praesent commodo cursus magnavel scelerisque nisl consectetur</h4>-->
<!--                        <p>10/08/2016 at 04.00 AM</p>-->

<!--                        <div class="listview__attrs">-->
<!--                            <span>#Server</span>-->
<!--                            <span>!!!</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="actions">-->
<!--                    <div class="dropdown actions__item">-->
<!--                        <i class="zwicon-more-h" data-toggle="dropdown"></i>-->
<!--                        <div class="dropdown-menu dropdown-menu-right">-->
<!--                            <a class="dropdown-item" href="#">Mark as completed</a>-->
<!--                            <a class="dropdown-item" href="#">Delete</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <a href="todos.html" class="view-more">View All Todos</a>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card visitors">-->
<!--        <div class="card-body">-->
<!--            <h4 class="card-title">Realtime Visitors</h4>-->
<!--            <h6 class="card-subtitle">Nullam dolor isnibh ultricies vehicula adipiscing</h6>-->

<!--            <div class="visitors__stats">-->
<!--                <div>-->
<!--                    <strong>23528</strong>-->
<!--                    <small>Visitor for last 24 hours</small>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <strong>746</strong>-->
<!--                    <small>Visitors last 30 minutes</small>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="visitors__map map-visitors"></div>-->
<!--        </div>-->

<!--        <div class="listview listview--hover listview--plain">-->
<!--            <div class="listview__item">-->
<!--                <div class="listview__content">-->
<!--                    <h4>Sunday, September 4, 21:44:02 (2 Mins 56 Seconds)</h4>-->

<!--                    <div class="listview__attrs">-->
<!--                        <span>United States</span>-->
<!--                        <span>Firefox</span>-->
<!--                        <span>Mac OSX</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="listview__item">-->
<!--                <div class="listview__content">-->
<!--                    <h4>Sunday, September 4, 20:21:01 (5 Mins 12 Seconds)</h4>-->

<!--                    <div class="listview__attrs">-->
<!--                        <span>Australia</span>-->
<!--                        <span>Chrome</span>-->
<!--                        <span>Android</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="listview__item">-->
<!--                <div class="listview__content">-->
<!--                    <h4>Sunday, September 4, 20:21:10 (10 Mins 43 Seconds)</h4>-->

<!--                    <div class="listview__attrs">-->
<!--                        <span>Brazil</span>-->
<!--                        <span>Edge</span>-->
<!--                        <span>Windows</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="listview__item">-->
<!--                <div class="listview__content">-->
<!--                    <h4>Sunday, September 4, 20:59:04 (1 Min 02 Seconds)</h4>-->

<!--                    <div class="listview__attrs">-->
<!--                        <span>South Korea</span>-->
<!--                        <span>Chrome</span>-->
<!--                        <span>Android</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="listview__item">-->
<!--                <div class="listview__content">-->
<!--                    <h4>Sunday, September 4, 20:58:12 (3 Min 44 Seconds)</h4>-->

<!--                    <div class="listview__attrs">-->
<!--                        <span>Japan</span>-->
<!--                        <span>Chrome</span>-->
<!--                        <span>Windows</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="p-3"></div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card">-->
<!--        <div class="card-body">-->
<!--            <h4 class="card-title">Recent Posts</h4>-->
<!--            <h6 class="card-subtitle">Venenatis portauam Inceptos ameteiam</h6>-->
<!--        </div>-->

<!--        <div class="listview listview--hover listview--truncate">-->
<!--            <a class="listview__item">-->
<!--                <img src="demo/img/profile-pics/1.jpg" class="avatar-img" alt="">-->

<!--                <div class="listview__content">-->
<!--                    <h4>Donec congue tempus ligula, varius hendrerit mi hendrerit sit amet. Duis ac quam sit amet leo-->
<!--                        feugiat iaculis</h4>-->
<!--                    <p>By Jannette Jackson an Hour ago</p>-->
<!--                </div>-->
<!--            </a>-->

<!--            <a class="listview__item">-->
<!--                <img src="demo/img/profile-pics/2.jpg" class="avatar-img" alt="">-->

<!--                <div class="listview__content">-->
<!--                    <h4>David Villa Jacobs</h4>-->
<!--                    <p>Sorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis lobortis sapien non-->
<!--                        posuere</p>-->
<!--                </div>-->
<!--            </a>-->

<!--            <a class="listview__item">-->
<!--                <img src="demo/img/profile-pics/3.jpg" class="avatar-img" alt="">-->

<!--                <div class="listview__content">-->
<!--                    <h4>Candice Barnes</h4>-->
<!--                    <p>Quisque non tortor ultricies, posuere elit id, lacinia purus curabitur</p>-->
<!--                </div>-->
<!--            </a>-->

<!--            <a class="listview__item">-->
<!--                <img src="demo/img/profile-pics/4.jpg" class="avatar-img" alt="">-->

<!--                <div class="listview__content">-->
<!--                    <h4>Darla Mckinney</h4>-->
<!--                    <p>Duis tincidunt augue nec sem dignissim scelerisque. Vestibulum rhoncus sapien sed nulla aliquam-->
<!--                        lacinia</p>-->
<!--                </div>-->
<!--            </a>-->

<!--            <a class="listview__item">-->
<!--                <img src="demo/img/profile-pics/5.jpg" class="avatar-img" alt="">-->

<!--                <div class="listview__content">-->
<!--                    <h4>Rudolph Perez</h4>-->
<!--                    <p>Phasellus a ullamcorper lectus, sit amet viverra quam. In luctus tortor vel nulla pharetra-->
<!--                        bibendum</p>-->
<!--                </div>-->
<!--            </a>-->

<!--            <a href="#" class="view-more">View All Posts</a>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card">-->
<!--        <img class="card-img-top" src="demo/img/widgets/featured-post.jpg" alt="">-->
<!--        <div class="card-body">-->
<!--            <h4 class="card-title">Pellentesque Ligula Fringilla</h4>-->
<!--            <h6 class="card-subtitle">by Malinda Hollaway on 19th June 2015 at 09:10 AM</h6>-->

<!--            <p>Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas-->
<!--                eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa-->
<!--                justo sit amet risus. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a-->
<!--                pharetra.</p>-->
<!--            <a href="#" class="view-more justify-content-start">View Article...</a>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="card w-calendar">-->
<!--        <div class="actions">-->
<!--            <a href="calendar.html" class="actions__item zwicon-plus"></a>-->
<!--            <div class="dropdown actions__item">-->
<!--                <i class="zwicon-more-h" data-toggle="dropdown"></i>-->
<!--                <div class="dropdown-menu dropdown-menu-right">-->
<!--                    <a class="dropdown-item" href="#">Refresh</a>-->
<!--                    <a class="dropdown-item" href="#">Calendar Settings</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="w-calendar__header">-->
<!--            <div class="w-calendar__year"></div>-->
<!--            <div class="w-calendar__day"></div>-->
<!--        </div>-->

<!--        <div id="w-calendar-body"></div>-->
<!--    </div>-->

<!--    <div class="card">-->
<!--        <div class="card-body">-->
<!--            <h4 class="card-title">Growth Rate</h4>-->
<!--            <h6 class="card-subtitle">Commodo luctus nisi erat porttitor ligula eget lacinia odio semnec</h6>-->

<!--            <div class="flot-chart flot-line"></div>-->
<!--            <div class="flot-chart-legends flot-chart-legends--line"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
